{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content%}
<div class="container">
    <h1>Welcome to Instagrab!</h1>
    <p>Connecting with your audience on Instagram just got easier.</p>
    <p>Instagrab is your ultimate solution for automating your Instagram outreach. Whether you're a marketer, influencer, or business owner, Instagrab empowers you to streamline your engagement process, saving you time and effort.</p>
    <h2>Why Choose Instagrab?</h2>
    <ul>
        <li>Effortless Connectivity: Seamlessly connect your Instagram account to Instagrab and unlock a world of possibilities.</li>
        <li>Powerful Scraping Tools: Gather username lists from various sources effortlessly. Whether it's hashtags, followers of a specific account, or custom lists, Instagrab's scraping tools have you covered.</li>
        <li>Tailored Messaging: Craft personalized messages and reach out to your audience en masse. Engage with potential customers, network with influencers, or simply connect with like-minded individuals.</li>
        <li>Automation Made Simple: Set up automated workflows to handle repetitive tasks, allowing you to focus on what truly matters—building relationships and growing your brand.</li>
        <li>Insightful Analytics: Gain valuable insights into your outreach efforts with Instagrab's comprehensive analytics. Track message delivery, response rates, and more to fine-tune your strategy and maximize your results.</li>
    </ul>
    <p>Get Started Today! Join thousands of satisfied users who have already revolutionized their Instagram outreach with Instagrab. Sign up now and take the first step towards a more efficient and effective social media presence.</p>
</div>
{% endblock %}